<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/github-light.css" media="screen">
  </head>
  <body>

    <section class="page-header">
      <h1 class="project-name">CYBR 8420 Software Assurance</h1>
      <h2 class="project-tagline">The University of Nebraska at Omaha</h2>
      <a href="https://github.com/robinagandhi/swa" class="btn">Github Repo</a>
      <a href="https://unomaha.instructure.com/courses/3042" class="btn">Canvas</a>
      <a href="http://faculty.ist.unomaha.edu/rgandhi/" class="btn">Contact Instructor</a>
    </section>


    <section class="main-content">
      <div class="container">

  	{{ content }}

      </div><!-- /.container -->
      <footer class="site-footer">


      </footer>

    </section>


  </body>
</html>
